<%= form_for(@detention) do |f| %>
  <% if @detention.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@detention.errors.count, "error") %> prohibited this detention from being saved:</h2>

      <ul>
      <% @detention.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :teacher %><br>
    <%= f.text_field :teacher %>
  </div>
  <div class="field">
    <%= f.label :student %><br>
    <%= f.text_field :student %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :time %><br>
    <%= f.text_field :time %>
  </div>
  <div class="field">
    <%= f.label :reason %><br>
    <%= f.text_field :reason %>
  </div>
  <div class="field">
    <%= f.label :points %><br>
    <%= f.number_field :points %>
  </div>
  <div class="field">
    <%= f.label :parent_detention %><br>
    <%= f.number_field :parent_detention %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :additional_notes %><br>
    <%= f.text_area :additional_notes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
