#add-detention-modal
  .overlay
    .modal-container
      .modal
        .modal-top
          Create Detention
          .modal-close &times;
        .modal-bottom
          = form_for(@detention, remote: true) do |f|
            .field
              =f.label :student
              =f.select(:student_id, Student.all.collect {|s| [s.name, s.id] })
            .field
              = f.label :date
              = f.date_select :date
            .field
              = f.label :time
              = f.text_field :time
            .field
              = f.label :reason
              = f.text_field :reason
            .field
              = f.label :points
              = f.number_field :points
            .field
              = f.label :additional_notes
              = f.text_area :additional_notes
            = f.submit
            .button.save-another
              Save and add another
